[2020-02-20 16:10] brunogaspar opened #2 "Sometimes Invalid parameters x: double value expected; y: double value"
Hey, very randomly i receive this error and unfortunately i don't have a very good way to reproduce it.

Node: v10.16.3
Puppeteer: v2.1.1

I also use Puppeteer Extra Stealth and Ad Blocker plugins, although it does not seem to matter, i don't think :)

[code]

Snippet of my code:

[code]

Thanks and let me know if there's anything i can do to help on fixing the bug :)

[2020-03-02 09:53] Xetera commented on #2
This seems fairly difficult to fix, can you tell me which pages you're getting this error in? Is it random or does it happen on specific elements?

I have a feeling this might be caused by the library not being able to find the dimensions of an element :thinking: I might have to make it fallback to just clicking the element. Always helps to be able to reproduce it though

[2020-03-05 20:33] brunogaspar commented on #2
Yup, i know.

It happens very randomly therefore, unfortunately, i don't have any good way to reproduce.

I'll try to see if i can figure out a pattern when this happens as my suspicion is that, since i have a page i'm going to, then i apply a not higher timeout, it might happen that whenever the cursor.move gets executed, that specific element might not be on the screen yet.

I've wrapped the abo

[2020-04-03 16:05] ergcode opened #3 "Is it possible to add work with an element directly?"
/src/spoof.ts
[code]
		let cursor = createCursor(page);
		await page.goto(
			'https://infosimples.github.io/detect-headless/', {
			waitUntil: ['domcontentloaded'],
			30000,
		});

		let select = await page.$('#mouse-move-result');
		await cursor.move(select);
		select = await page.$('#plugins-prototype-result');
		await cursor.move(select);
		await cursor.click(select);
[code]

[2020-10-03 08:56] kekearif commented on #3
Bump. I have multiple buttons with the same selector on a page. I need to iterate them and click them. Is this at all possible with `ghost-cursor` ?

[2020-10-06 16:51] kekearif opened #6 "Cursor seems to overshoot a little too much sometimes"
I have noticed that occasionally the cursor will overshoot a little too much and not click the element. This is causing puppeteer's to accidentally navigate to the wrong page.

Is the a way to adjust the overshoot and make it smaller?

[2020-10-10 16:48] hm1996 opened #7 "Update version on npm"
Can you please release the last changes to npm?

[2020-10-28 15:44] Niek commented on #7
+1 for this, @Xetera can you push an update please?

[2020-10-30 15:05] Niek commented on #2
+1 - I sometimes see this issue happening as well

[2020-11-04 15:37] Niek commented on #7
Latest build is now published after each build as an artifact: https://github.com/Xetera/ghost-cursor/actions (select the top one, download the artifact).

In order to publish to NPM @Xetera needs to set the `NPM_TOKEN` secret, see https://docs.github.com/en/free-pro-team@latest/actions/reference/encrypted-secrets - is that possible @Xetera?

[2020-11-05 12:40] Niek commented on #6
This should be fixed with the new `paddingPercentage` option - you can now set the padding to e.g. 20 and it will choose a random point within 20% of the width and height of the element.

[2020-11-05 12:40] #6 closed

[2020-11-05 12:41] Niek commented on #3
Fixed in https://github.com/Xetera/ghost-cursor/pull/10 - support for XPath added.

BTW, if you want to use CSS selectors you can also use `nth-child()` pseudo selectors: https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child

[2020-11-05 12:41] #3 closed

[2020-11-05 12:44] Niek commented on #2
I don't see this happening anymore after https://github.com/Xetera/ghost-cursor/pull/8 was merged. @brunogaspar can you check (use `yarn add Xetera/ghost-cursor#master`)?

[2020-11-05 14:54] brunogaspar commented on #2
Don't have time right now unfortunately, but i trust your evaluation :)

[2020-11-05 14:54] #2 closed

[2020-11-06 09:44] Niek commented on #7
Added NPM auto-publish when creating new tags. v1.0.4 has been released now: https://www.npmjs.com/package/ghost-cursor

[2020-11-06 09:44] #7 closed

[2020-11-11 22:07] fishing4chicken opened #12 "How to use MouseHelper"
I see the latest version includes installMouseHelper, is this supposed to work like the video in the README, where you can see a small grey circle where the cursor moves?

If so, could you help explain how to set it up? I am a little new to the node.js game and this was my best guess:

const { installMouseHelper } = require('ghost-cursor');
await installMouseHelper(page)

But I don't see the same

[2020-11-12 08:32] Niek commented on #12
I really need to update the documentation (PRs are welcome ;))

This is a short sample code:
[code]

[2020-11-12 17:51] fishing4chicken commented on #12
Thanks Niek!

The problem I had was that I my"installMouseHelper(page)" was after "page.goto()" , instead of before

Works perfectly now!

[2020-11-12 17:51] #12 closed

[2020-11-13 10:32] Niek opened #13 "Overhaul documentation"
The README needs some updating to reflect the changes in the code recently:
* Example of `installMouseHelper`
* New function signature for `createCursor`
* New function signature for `move` and `click`
* Document `moveTo` and `getRandomPagePoint`

Anybody who's willing to check this?

[2020-11-16 08:32] unixfox opened #14 "puppeteer: how to use with an iframe?"
Currently, it's only possible to use it with an element that is on the page but not in an iframe.

When trying to pass the selector of an element in an iframe I get:
[code]

[2020-11-16 08:35] unixfox commented on #14
Sorry for the noise, I found how to do it. Just pass the element not the selector to cursor.click(), like this:
[code]

[2020-11-16 08:35] #14 closed

[2020-11-16 08:40] Niek commented on #14
That works indeed. BTW you can also use XPath instead of CSS selectors in case it's something more difficult to select.

[2021-01-01 02:36] alanzed555 opened #17 "How can i see the trace of mouse?"
I  want to see the trace of mousemove.How can i do?
thank u.

[2021-01-06 09:42] Niek commented on #17
Here's some sample code:
[code]

[2021-01-06 09:42] #17 closed

[2021-01-06 15:53] DmitryKvant opened #18 "xPath not working"
`await cursor.click("//a[contains(., 'Поиск заказов')]")`
i get error
`TypeError: elem.boundingBox is not a function
    at Object.<anonymous> (/home/dmitrykvant/yandexservicebotpuppeteer/node_modules/ghost-cursor/lib/spoof.js:258:50)
    at step (/home/dmitrykvant/yandexservicebotpuppeteer/node_modules/ghost-cursor/lib/spoof.js:44:23)
    at Object.next (/home/dmitrykvant/yandexservicebotpuppetee

[2021-01-06 16:11] DmitryKvant commented on #18
<img width="1030" alt="Снимок экрана 2021-01-07 в 00 09 18" src="https://user-images.githubusercontent.com/17162785/103790966-d4b91c00-507c-11eb-8b9a-0d1256c3021a.png">
Quick fix

[2021-01-06 17:18] Niek commented on #18
This was fixed in https://github.com/Xetera/ghost-cursor/commit/ad91cf44fea2a2e476e83490c98108fcca3ab487

I will publish this soon as v1.0.7, in the meantime use `npm i Xetera/ghost-cursor#master`

[2021-01-06 17:18] #18 closed

[2021-01-07 09:26] alanzed555 commented on #17
thank u!

[2021-01-12 13:54] Niek commented on #18
Released as v1.1.0: https://www.npmjs.com/package/ghost-cursor

[2021-02-07 18:29] NikolaiT opened #20 "clickCount support"
hey guys, thanks for the awesome module.

Please support click optinos like that:

[code]

Thanks

[2021-02-07 20:34] Xetera commented on #20
Seems like something you can just do in a for loop, is there a reason why this is necessary?

[2021-02-08 09:02] Niek commented on #20
Yeah, this seems a bit unnecessary to me.

[2021-02-08 18:55] NikolaiT commented on #20
Not really necessary, but would remain compatible with the interface of pptr. Maybe there are more clickoptions?

[2021-02-17 09:51] #20 closed

[2021-02-17 09:57] Niek commented on #13
Sample TS code:
[code]

[2021-02-23 00:26] DrewDaPilot opened #22 "Iframe error"
``Error: Protocol error (DOM.scrollIntoViewIfNeeded): Node does not have a layout object
    at C:\Users\Drew\WebstormProjects\project\node_modules\puppeteer\lib\cjs\puppeteer\common\Connection.js:208:63
    at new Promise (<anonymous>)
    at CDPSession.send (C:\Users\Drew\WebstormProjects\project\node_modules\puppeteer\lib\cjs\puppeteer\common\Connection.js:207:16)
    at Object.<anonymous> (C:\

[2021-02-23 07:15] Niek commented on #22
I just pushed v1.1.4 that should fix this, please check & confirm.

[2021-02-24 03:17] DrewDaPilot commented on #22
Thanks! I ran it again and got a different error.

`
C:\Users\Drew\WebstormProjects\project>node index.js
Found checkbox!
C:\Users\Drew\WebstormProjects\project\node_modules\puppeteer\lib\cjs\puppeteer\common\Connection.js:208
            this._callbacks.set(id, { resolve, reject, error: new Error(), method });
                                                              ^

Error: Protocol error

[2021-02-24 15:32] Niek commented on #22
Can you please share the exact code including the HTML example with me?

[2021-02-24 16:05] DrewDaPilot commented on #22
Sure,

`const puppeteer = require('puppeteer-extra');
const { createCursor } = require("ghost-cursor");
const StealthPlugin = require('puppeteer-extra-plugin-stealth');
puppeteer.use(StealthPlugin());

function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}

puppeteer.launch(
    {
        headless: false,
        args: [
            '--disable-web-security',

[2021-02-24 19:33] Niek commented on #22
The problem is that the frame is getting detached, see this (slightly rewritten code):

[code]
Result: `waitTask.terminate(new Error('waitForFunction failed: frame got detached.'));`

[2021-02-24 20:05] DrewDaPilot commented on #22
Ah, so its not a problem with the lib. Thanks for the assistance, I guess I can close this issue.

[2021-02-24 20:05] #22 closed

[2021-02-27 04:48] amunim opened #23 "Ghost Cursor with puppeteer-cluster"
I'm trying to use ghost cursor with cluster and it is having trouble moving the mouse.

My code:
[code]
thrown errors:
[code]
[code]

`Warning: could not click mouse, error message: Error: Protocol error (Input.dispatchMouseEvent): Session closed. Most likely the page has been closed. (spoof:320)`

The same code works fine with vanilla `puppeteer` or `puppeteer-extra`

[2021-03-05 05:26] amunim commented on #23
wait for the element you want to click then create the cursor

[2021-03-05 05:26] #23 closed

[2021-03-07 00:31] Nevgup opened #24 "Delay of cusor.click()"
Hello !

When I use cursor.click(element) and then make a page.keyboard.type(), there is a delay between the click and the first keystroke. How can I reduce the click delay please ?

Thanks !

[2021-03-08 09:37] Niek commented on #24
Hello, this is the line in question:
https://github.com/Xetera/ghost-cursor/blob/3c3b4ab9f8f0f6103d64f4e64f3218313c448c63/src/spoof.ts#L209
If you want to create a PR to make this an option, you're welcome :)

[2021-03-08 09:37] #24 closed

[2021-03-08 21:39] Nevgup commented on #24
I'll try to make it soon, thanks for the help ! :)

[2021-04-18 18:49] Somberor commented on #13
@Niek how can the speed of the mouse movement be set?
Sometimes it goes too fast and I would like it to have some minimum
Thank you for the great implementation!

[2021-04-19 06:35] Niek commented on #13
This can be changed in the `path()` function - if you want to add speed customization, feel free to open a PR.

[2021-04-26 19:49] antoniojtorres opened #28 "Random Heap overflows"
Hello, first of all thanks for the great package, it works wonderfully.

I think I'm having a strange issue and suspect the root may be this package. I am using puppeteer to crawl through sites so I'm doing the typical breath-first crawl where I essentially crawl in a loop, go from one page to the next by clicking in the same session. After a few hours of this happening, without fail, the crawler

[2021-04-27 12:37] smokierobinson opened #29 "Separate vertical and horizontal padding"
First of all, many thanks for creating this package! It has really helped my project a lot.
I am using the cursor mainly for clicking tens of elements on a page in succession and I have noticed that using `paddingPercentage` produces several misclicks. After watching puppeteer running without headless mode I suspect that the reason is that the cursor clicks too low or too high vertically.
So my fe

[2021-04-27 12:58] Niek commented on #29
There is already a `paddingPercentage` option to add padding on the top/bottom and left/right. It would be possible to split those up but that would complicate the code quite a bit. If you have a clean approach (without adding yet another option) please let me know and I'll look at it.

[2021-04-27 13:02] Niek commented on #28
Strange, which Node version are you using? Did you try with a newer Node version already?

In any case, the bezierjs dependency definitely needs to be bumped, but I couldn't figure out how to get it to play nicely with TS. See also: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/49185

[2021-05-01 16:55] #29 closed

[2021-05-17 23:36] playset opened #31 "await cursor.click(XPATH) if possible"
hello
it is possible to click to element by XPATH, not by CSS selector?
or it is ways to convert xpath to CSS selector?

[2021-05-17 23:53] playset commented on #31
i used const element = await page.$x(...) and after await cursor.click(element)
if you have same issue just dont use await page.$x, use directly cursor.click('XPATH root') without finding const element first

[2021-05-17 23:53] #31 closed

[2021-06-24 13:43] theGuy71639 opened #32 "SyntaxError: Cannot use import statement outside a module"
Im trying to run this code:
`import { createCursor } from "ghost-cursor"
import puppeteer from "puppeteer"

const run = async (url) => {
  const selector = "#sign-up button"
  const browser = await puppeteer.launch({ headless: false });
  const page = browser.newPage()
  const cursor = createCursor(page)
  await page.goto(url)
  await page.waitForSelector(selector)
  await cursor.click(selector)

[2021-06-24 13:44] theGuy71639 commented on #32
PS: I'm really new to Github, so sorry if the Question doesn't look that nice :/

[2021-06-24 19:09] Niek commented on #32
The code you're trying to run in TypeScript, not JS/ES. You need to change the import statements to `require()`.

[2021-06-24 19:09] #32 closed

[2021-06-24 19:12] theGuy71639 commented on #32
Oh forgot to close this by myself, but for those who are interested, this is what I have now:

const puppeteer = require('puppeteer-extra')
const StealthPlugin = require('puppeteer-extra-plugin-stealth')
puppeteer.use(StealthPlugin())
const ghostCursor = require('ghost-cursor')

const run = async (url) => {
  const selector = '#keepMeLoggedIn'
  const browser = await puppeteer.launch({ headless: f

[2021-07-01 01:00] ItzRabbs opened #33 "Puppeteer Types Conflict"
Puppeteer started to ship .d.ts files in npm package since February. The DefinitelyTyped package is no longer accurate, I believe. I'm getting the below errors during compilations with "ghost-cursor": "^1.1.5" and "puppeteer": "^10.1.0" installed.

[code]

[2021-07-01 08:43] Niek commented on #33
The types in Puppeteer are really messed up since they started shipping themselves. See for example: https://github.com/puppeteer/puppeteer/issues/6979

I'll see if we can switch the types to puppeteer@10 though.

[2021-07-01 09:28] Xetera commented on #33
I think puppeteer needs to be marked as a peerDependency in this case. Not sure why I didn't do that in the first release.

[2021-07-01 09:36] Niek commented on #33
If you use a peerDependency you can't use the types in that package, because it doesn't install it AFAIK. So you really need the whole puppeteer package as a devDependency 😞

[2021-07-01 10:09] Niek commented on #33
This should be fixed in https://github.com/Xetera/ghost-cursor/commit/4dd885815bcc229599f6608fef27e50352062b96

Can you please check @ItzRabbs by installing the master version?

[2021-07-01 13:05] ItzRabbs commented on #33
Works great. Thank you for the quick turnaround.

[2021-07-01 17:18] Niek commented on #33
Published as v1.1.6: https://www.npmjs.com/package/ghost-cursor/v/1.1.6

[2021-07-01 17:18] #33 closed

[2021-07-02 16:39] zeke opened #34 "it works! but the pointer is not visible"
Hi @Xetera, @Niek, @kbourro, @garyanikin, and everyone else who's worked on this nifty little package.

I just gave this a try, and the clicking works, but I don't actually see a visible mouse pointer. I can see hover states, and clicking the link does indeed navigate to a new page, but no 🐁👀

Am I doing something wrong?

### My code

[code]

### My environment

[code]

[2021-07-02 16:40] Niek commented on #34
If you want a cursor, use `installMouseHelper`. See https://github.com/Xetera/ghost-cursor/issues/13#issuecomment-780440923

[2021-07-02 16:40] #34 closed

[2021-07-02 16:44] zeke commented on #34
Ah thanks. Seem like this should be documented, eh? I'd be happy to open a PR for that if you're open to it.

[2021-07-02 16:48] zeke commented on #34
Also the code shared in #13 doesn't seem to work for me:

### Code

[code]

### Error

[code]

[2021-07-02 16:49] Niek commented on #34
Yes we badly need some proper docs, see issue #13 - if you want to do a PR, please!

The example I linked in TS code, for ES code you need to use the `require()` format.

[2021-07-02 17:07] zeke commented on #34
This works for me:

[code]

But this does not:

[code]

Nor does this:

[code]

[2021-07-13 21:52] zeke commented on #34
@Niek any thoughts on the above? Again I'd be happy to submit some docs for this once I get it working.

[2021-07-14 09:40] Niek commented on #34
@zeke Are you using TS, JS with CJS or JS with ES6 imports?

The code in https://github.com/Xetera/ghost-cursor/issues/34#issuecomment-873129584 works in TS, and the following works in JS with CJS imports:
[code]

[2021-07-14 20:34] zeke commented on #34
I figured out why this wasn't working. The mouse helper uses `page.evaluateOnNewDocument()` to create the cursor DOM element and attach to the window. So if `installMouseHelper()` is called _after_ a page is loaded, nothing will happen.

The workaround is to call `installMouseHelper()` before navigating to the page with `page.goto()`.

Here's a typescript example that is now working for me:

[code

[2021-07-20 17:55] thibaultmthh opened #36 "Playwright support ?"
is a support for playwright planned ?

[2021-07-21 07:04] Niek commented on #36
It shouldn't be too hard to support. In addition, native CDP support would be great as well - I'll look into this soon.

[2021-08-09 13:17] Niek commented on #36
OK, I take that back 🙈 It's extremely hard to support both Puppeteer and Playwright, there are too many subtle differences, missing classes, etc. I recommend to take this approach (which you can use in native CDP too):

[code]

Closing this ticket for now.

[2021-08-09 13:17] #36 closed

[2021-08-25 11:38] jaean123 commented on #28
I found that this issue appears when using the mouse helper. Try disabling that.

[2021-08-30 10:14] Niek commented on #28
@antoniojtorres can you confirm you were using the mouse helper too? It might be related to the random movements too, did you use `performRandomMoves`?

[2021-09-02 20:13] jaean123 commented on #28
I apologize for the mistake. I have confirmed that this bug does appear even when using the mouse helper. It's coincidence that it did not appear on multiple attempts after disabling mouse helper.

[2021-09-13 11:16] Niek commented on #28
@jaean123 do you have a simple test script to reproduce this? I have a hard time replicating the issue.

[2021-09-19 11:14] jaean123 commented on #28
@Niek
I'll see if I can come up with a script. Thanks for your continued support for this project.

[2021-11-06 03:54] excelant100 opened #37 "Ghost-Cursor and Selenium"
Hello, it has been some days that I am trying to implement it into selenium. I only need the path generation feature, but for some reason. I cannot manage to move the cursor following it. Is it actually possible? If so, I would really appreciate to know how.

Probably not the best place to ask, but I am kind of desesperate...

[2021-11-06 04:39] excelant100 commented on #37
Whatever, just use playwright.

[2021-11-06 04:39] #37 closed

[2021-11-06 21:13] excelant100 opened #38 "Start position is always 0,0"
The Start position of cursor.move or click is always 0,0. I want to randomize this, where can I set that?

I tried to page.mouse.move to a random coordinates, but since I am scrolling. The movement done by page.mouse is useless and the cursor spawns back to 0,0.

[2021-11-08 10:04] Niek commented on #38
You can use this function for that:
https://github.com/Xetera/ghost-cursor/blob/2a7ac70027c0beaece6929904ca1264e0cff4a06/src/spoof.ts#L46-L50

[2021-11-08 10:04] #38 closed

[2021-12-01 13:08] clouedoc commented on #13
I'd like to add an item to the list:

- [ ] Document the fact that the cursor supports XPath

[2021-12-05 09:18] selfshore opened #40 "This is nice, but it's still not perfect, maybe try the Hermite equation"

[2021-12-06 07:53] Niek commented on #40
Do you have any sample code?

[2021-12-13 20:29] muhamadrafipamungkas commented on #40
Hello, I know this is may be out of topic, but is there any equivalent for scrolling behaviour? I mean the speed, the pause and so on.

[2021-12-16 14:33] ItzRabbs opened #41 "Issue with compiling bezierCurve"
I'm getting an issue with running tsc. See below.

[2021-12-20 19:17] bcolthurst-raices commented on #41
It seems that in /src/math.ts

If I change
import Bezier from 'bezier-js'

to
import { Bezier } from 'bezier-js'

it changes the lib/math.d.ts last line from:
export declare const bezierCurve: (start: Vector, finish: Vector, overrideSpread?: number | undefined) => Bezier;

to
export declare const bezierCurve: (start: Vector, finish: Vector, overrideSpread?: number | undefined) => any;

Which could

[2021-12-20 19:47] Niek commented on #41
Strange, I cannot reproduce this. Is this on the latest master branch? Did you run `yarn` to build?

[2021-12-20 20:21] bcolthurst-raices commented on #41
we have a workaround:

in our project's package.json,
changing it from     "ghost-cursor": "^1.1.7", to     "ghost-cursor": "1.1.6"
seems to fix it.

some clues about our Dockerfile:
it's FROM node:14
using
RUN npm install -g typescript@4.3.5

Now, when I was just cloning the ghost-cursor repo, most recent version, and doing the yarn/husky, npm run prepare, npm run build, etc., it all compiles fin

[2021-12-21 03:39] ItzRabbs commented on #41
I'm getting this issue from simply using the latest 1.1.7 build in my package.json file.

I only have one import and that's `import { createCursor } from 'ghost-cursor';`

[2021-12-22 10:25] Niek commented on #41
Can you check if `v1.1.8` that I just pushed to NPM resolves this?

If not, can you share some reproducible minimal sample code?

[2021-12-22 19:17] ItzRabbs commented on #41
Here's a sample. I saved it down to `run.ts` and then I run `tsc run.ts`.

[code]

[2022-01-28 20:13] RobinFrcd opened #44 "Slow down cursor speed"
Hello,
Thank you for this great module, very useful !

I think that, in some situations, the cursor is really going too fast. Would it be possible to add a `moveDuration` option to the `click`/`move` functions ?

Thanks !

[2022-01-30 02:05] RobinFrcd commented on #44
Just realized a [PR](https://github.com/Xetera/ghost-cursor/pull/43) was already on the go ! Any chance it'll be merged soon ? :pray:

[2022-02-01 23:43] ItzRabbs commented on #41
Any luck with this?

[2022-02-13 02:57] lcosmos opened #45 "Node does not have a layout object"
**Version: 1.1.8**

Falling back to JS scroll method ProtocolError: Protocol error (DOM.scrollIntoViewIfNeeded): Node does not have a layout object
    at /Users/xxx/Project/new-ali/node_modules/puppeteer/lib/cjs/puppeteer/common/Connection.js:230:24
    at new Promise (<anonymous>)
    at CDPSession.send (/Users/xxx/Project/new-ali/node_modules/puppeteer/lib/cjs/puppeteer/common/Connection.js:226

[2022-02-14 08:03] Niek commented on #45
Do you have any sample code to reproduce this issue?

[2022-02-19 21:04] Pic2490 opened #46 "Cursor not visible like in the sample GIF on main page"
The cursor clicks elements but I can't see it at all, is this normal? code I used is the boilerplate.

Node - 16.13.2
Puppeteer - 13.0.0

[2022-02-21 09:29] Niek commented on #46
If you want to see the cursor, you need to call `installMouseHelper(page)`. Please note this should be used for debugging only.

[2022-02-21 09:29] #46 closed

[2022-02-25 11:38] trompx commented on #44
Would also like to see this merged.

[2022-03-13 18:08] shtelzerartem commented on #28
@Niek reproduced it on visible input with `{ width: 0, height: 0 }`, might happen because of devision to zero, or another weird staff.

[2022-03-14 11:13] Niek commented on #28
@shtelzerartem can you please upload a minimal sample here so I can check?

[2022-03-15 06:56] peonone opened #47 "Wrong element clicked for Firefox"
Hi,

I'm using the `click` functionality and it does not work well for Firefox, usually another element below the actual target one gets clicked.
It can be reproduced by this script
[code]

The intention of this script is to click the "HTTP Methods" section but it was not clicked, instead, another section between "Cookies" to "Anything" got clicked.
There is a debug level logging indicating it was

[2022-03-15 10:59] Niek commented on #47
I just published v1.1.9 which should fix this - can you please re-test?

[2022-03-15 11:01] Niek commented on #41
I just published v1.1.9 with BezierJS 6 - can you check if this fixed the issue?

[2022-03-15 13:16] Niek commented on #41
@ItzRabbs The BezierJS types are quite outdated, but I guess it doesn't really matter. I have published v1.1.10 now with the types added, can you check if this solves it?

[2022-03-16 02:26] peonone commented on #47
Thanks @Niek , it works!

[2022-03-16 05:27] #47 closed

[2022-04-04 11:18] SmartArray opened #49 "Sometimes misses element"
I can't reproduce it, but I have seen this library missing an element. The click apparently hit another element next to it. 99% of the time it seems to work though.

[2022-04-04 11:23] Niek commented on #49
Hmm, that will be very hard to reproduce... it could be anything from a jumping element on the page, to the click not properly being registered through CDP.

[2022-04-10 21:36] CarmenLexa opened #50 "How does installMouseHelper work ?"
I am using the module, but I don't know how certain functions like installMouseHelper work, what does it do?
What is the difference between move and moveTo?
I tried to leave a donation but I don't see that you have a link :=

[2022-04-11 07:38] Niek commented on #50
The `installMouseHelper()` function adds a quick overlay over the page showing where the mouse is moving and when it's clicking. See https://github.com/Xetera/ghost-cursor/issues/13#issuecomment-780440923 for some sample code.

The difference between the `move()` and `moveTo()` are obvious from the signatures:
[code]
So normally you'll use `move()`.

BTW we really need some proper documentation, i

[2022-04-11 07:38] #50 closed

[2022-04-24 18:40] IgalNeeman opened #51 "its not work"
i was installed this but its not work

anybody help with this ?

i have 3 years experince with puppeteer

[2022-04-24 18:49] Niek commented on #51
Please elaborate what is not working with a reproducible script.

[2022-04-24 19:37] IgalNeeman commented on #51
i cant load the script to use it with puppeteer...
its not working

‫בתאריך יום א׳, 24 באפר׳ 2022 ב-21:49 מאת ‪Niek van der Maas‬‏ <‪
***@***.***‬‏>:‬

[2022-04-24 19:47] Niek commented on #51
Do you have a reproducible script? Otherwise I have to close this issue.

[2022-04-24 20:16] IgalNeeman commented on #51
YOU CAN CLOSE I DELETE YOUR SCRIPT
BECAUSE WE CANT LOAD THIS WITH PUPPETEER ITS NOT WORKED

‫בתאריך יום א׳, 24 באפר׳ 2022 ב-22:47 מאת ‪Niek van der Maas‬‏ <‪
***@***.***‬‏>:‬

[2022-04-24 20:17] #51 closed

[2022-05-10 15:51] natanavra commented on #49
+1

[2022-05-15 17:23] lashki opened #52 "commonjs, es5 version aviable?"
Hi,
 is there a way to use ghost cursor with common.js, require statement?

[2022-05-16 07:34] Niek commented on #52
Sure:
[code]

[2022-05-16 07:34] #52 closed

[2022-05-16 08:53] lashki commented on #52
Thanks a lot. I was banging my head on the wall for the past week with this issue potential workarounds. Now you solved the situation... A small advice: maybe it will be good to include this in the instructions... Thanks again.

[2022-05-16 08:59] Niek commented on #52
No problem - there definitely needs to be some updated docs, see also https://github.com/Xetera/ghost-cursor/issues/13

[2022-05-26 10:52] paulosllvn commented on #49
+1, going to have to move away from this as it's a little bit unrealiable for me. It sometimes misses the input box for a login as part of my puppeteer bot.

For reference I am trying to login to www.betfair.com.au. Sometimes it will miss one of these inputs and fail to login forcing me to restart my bot.

I am targetting

'//input[@id="ssc-liu"]'  and  '//input[@id="ssc-lipw"

[2022-05-27 12:07] Niek commented on #49
I still haven't been able to reproduce this reliably. I wonder if it's an actual bug or if the element is shifted last-second before the click. Do you see a difference when using a different value for `paddingPercentage`?

[2022-05-27 20:29] ItzRabbs commented on #41
Created a PR https://github.com/Xetera/ghost-cursor/pull/53

Hoping you can merge this and create a new release?

[2022-05-28 11:17] #41 closed

[2022-05-28 11:22] Niek commented on #41
Released as 1.1.11 - please test: https://www.npmjs.com/package/ghost-cursor

[2022-05-28 17:22] ItzRabbs commented on #41
Works well now. Thank you!

[2022-05-29 14:54] paulosllvn commented on #49
Try running this a few hundred times. Sometimes it will miss the input boxes.

`let loginBetFair = async (page: puppeteer.Page) => {
    const URL = "https://www.betfair.com.au"
    await page.setViewport({
        width: 1280, height: 800,
        deviceScaleFactor: 1,
    });
    const cursor = createCursor(page)
    await page.goto(URL, {waitUntil: 'networkidle2'});
    await sleep_for(page, 30

[2022-05-31 08:08] #49 closed

[2022-06-08 13:48] DannyEndert opened #55 "[Question] Was `default-human-emulator` inspired by `ghost-cursor`, or the other way around?"
Was `default-human-emulator` inspired by `ghost-cursor`, or the other way around?

https://github.com/ulixee/secret-agent/blob/a4a93b4f3e93cc9ab2616084b46803bcb7e517d2/plugins/default-human-emulator/generateVector.ts

Purely out of interest.

[2022-06-08 13:53] Niek commented on #55
The former, the original version was even called `emulate-humans-ghost`.

[2022-06-08 13:53] #55 closed

[2022-06-08 20:48] 0x7357 opened #56 "[Question] Are "MouseEvents" the same as a real, physical mouse movement?"
I have problems with the offsets etc. (address bar, tabs bar, etc.) and therefore wonder if MouseEvents are the same as real, physical mouse movements or if programmatic mouse movements are recognizable as "programmatic"?

[2022-06-09 00:01] dzcpy commented on #45
Have you solved the problem? I have the same issue with the following code:
[code]

[2022-06-09 00:20] yf-hk opened #57 "Protocol error (DOM.scrollIntoViewIfNeeded): Cannot find context with specified id"
Hi,
Thanks for making this awesome module. I was using it to click an object inside of an iframe. Here is the code:

[code]

[code]

However there's an error:
[code]

Actually the click event is triggered, but it seems that there's something wrong with the scroll. Is there any way to fix it?

[2022-06-09 13:27] #56 closed, assigned to nobody

[2022-06-09 14:04] Niek commented on #56
@DannyEndert there should be no difference between the mouse events generated by the CDP protocol (`Input.dispatchMouseEvent()`) and human mouse events. For example, they both have `isTrusted: true`, while a manually created event shows this property as `false`.

[2022-06-09 14:47] dzcpy commented on #57
Thanks for your help! Is there any workaround?

[2022-06-11 13:19] vladtreny opened #58 "Found a lot of issues"
Finally reached this library and tested on many sites, a lot of issues, despite great idea

Also, this one is better for example  {behavior: 'smooth', block: 'center'}

Possible to rewrite it for isolated-worlds?

I see a possibility to do it the code

[2022-06-11 13:23] Niek commented on #58
Feel free to make a PR 👍🏻

[2022-06-11 13:26] vladtreny commented on #58
Just change to {behavior: 'smooth', block: 'center'} in the spoof js
This one just spotted

I will be rewriting it for custom usage with iso worlds   Seems like easier

[2022-06-11 13:55] vladtreny commented on #58
another problem (in puppeteer in general)  if element is hovered by another one, or there is overlay or Reach changes the element very fast   it will not  work.     I fixed it in my implementation though

anyway great work, a lot of good ideas.  thank you

[2022-06-11 13:56] #58 closed

[2022-06-11 14:27] vladtreny commented on #58
ps in one anti vendor just found a possibility to detect it

probably need a complete rewrite  :(

[2022-06-11 23:14] vladtreny commented on #58
Can check on NuData.  Mediocre provider, but mouse checker is good

[2022-06-19 07:37] workingxx92 opened #60 "Need a example use ghost-cursor with chrome remote interface"

[2022-06-19 18:11] GamiDPC commented on #57
I'm also waiting for this bug to be fixed.

[2022-06-21 14:42] robinmordasiewicz opened #61 "Falling back to JS scroll method TypeError: page._client.send is not a function"
Running Puppeteer inside a docker container, under Docker I have no problems, but running under Kubernetes I see this debug output. There is no error, just debug output and the script does finish.

Falling back to JS scroll method TypeError: page._client.send is not a function
    at Object.<anonymous> (/home/ubuntu/nginx/node_modules/ghost-cursor/lib/spoof.js:426:53)
    at step (/home/ubuntu/ngi

[2022-06-22 07:26] Niek commented on #61
I don't think this is related to ghost-cursor, your k8s cluster likely is blocked on the page because of the datacenter IP.

[2022-06-22 07:26] #61 closed

[2022-06-22 07:28] Niek commented on #60
`ghost-cursor` is made for Puppeteer, if you want to use it with a different CDP abstraction layer you need to import the `path()` function and implement the moving and clicking part yourself.

[2022-06-22 07:28] #60 closed

[2022-06-22 13:55] robinmordasiewicz commented on #61
The script completes, is able to access the goto-URL and I am able to record the full output. It seems to be a debug warning, but it does not error out.

[2022-07-11 20:04] AntonGsv opened #63 "Version in npm is different from the version on github"
Version in npm is different from the version on github

[2022-08-23 02:02] TrustyJar opened #65 "Cursor Movement and Clicking Not Working For Any Selectors"
This is the example of the error that I get

`Warning: could not move mouse, error message: ProtocolError: Protocol error (Input.dispatchMouseEvent): Invalid parameter`
`Invalid parameters`

I can confirm that the selectors I am using are valid. I haven't been getting this problem only until recently. Haven't changed anything up so I am a bit confused why it is happening

[2022-08-23 02:08] TrustyJar commented on #65
Nevermind, after an hour of searching I somehow found the issue. For some reason this package doesn't work with puppeteer-core. Not sure why, I will look into it and possibly make a pr

[2022-08-23 02:08] #65 closed

[2022-08-23 21:32] hackermondev commented on #65
Experiencing same issue but I'm using ``puppeteer-extra``

[2022-08-24 19:44] hackermondev commented on #65
I had to create the cursor after the element was loaded to fix it.

[2022-08-24 21:08] TrustyJar commented on #65
So you have to create a new cursor variable every time you switch pages? You should only have to define cursor one time throughout your script.

[2022-08-25 13:47] searchingforcode opened #66 "Protocol error (Input.dispatchMouseEvent): Invalid parameters Failed to deserialize params.x - BINDINGS: double value expected"
![image](https://user-images.githubusercontent.com/1987330/186681790-79b94e80-0fa0-4c94-845f-0fa1062b9340.png)

This the problem i am facing on when i am running it on the ubuntu 20.04 headless. It works in windows in headless mode.

[2022-08-25 14:21] searchingforcode commented on #66
Its happening on 16.1.1 puppeteer version. Its not happening on 16.1.0.

[2022-08-30 14:22] Niek commented on #63
Thanks, I deleted the GH release - it shouldn't be there since it only causes confusion.

[2022-08-30 14:29] Niek commented on #66
I can't reproduce this, can you please check with the latest v1.1.14?

[2022-08-30 14:54] Niek commented on #44
Fixed in #43

[2022-08-30 14:54] #44 closed

[2022-09-05 11:31] firmart opened #67 "Falling back to JS scroll method TypeError: page._client.send is not a function"
Since puppeteer 13.6.0, the correct way to create a CDP session client is

[code]
Related: #61

See
- https://puppeteer.github.io/pptr.dev/#?product=Puppeteer&version=v13.6.0&show=api-class-cdpsession
- https://github.com/puppeteer/puppeteer/blob/v15.3.0/docs/api/puppeteer.cdpsession.md

[2022-09-05 11:33] Niek commented on #67
Are you using the latest version? We have this fix in place to prevent this issue:
https://github.com/Xetera/ghost-cursor/blob/7327dfa3215e6f2a9391af650ff2221c2e4dfe80/src/spoof.ts#L85

[2022-09-05 15:57] firmart commented on #67
I have seen this line but didn't update to the latest. Now, updated to the latest version (i.e. from `1.1.8` to `1.1.15`), I got another error:
[code]
BTW, any reason to access internal field like `_client` instead of the aforementioned `const client = await page.target().createCDPSession()` ?

[2022-09-06 11:25] Niek commented on #67
Can you share the snippet where you get the `remoteObject` error @firmart?

The reason we don't use `createCDPSession()` is that it opens an additional CDP session instead of using the existing session, i.e. extra overhead.

[2022-09-06 22:06] MohamadKh75 commented on #57
Any updates?

[2022-09-07 04:03] dzcpy commented on #57
No

[2022-09-17 14:12] chrschae commented on #66
i also get this error while using v1.1.14

[2022-09-17 14:27] CJ13th opened #68 "Generating a route using path() which includes overshoot coordinates"
I really like the implementation of this project but I'm not keen on using Puppeteer to automate the browser since many companies claim to be able to detect its use. The path function seems very useful for generating the necessary coordinates for mouse movement, are there any plans to include the overshoot functionality?

[2022-09-17 14:45] Niek commented on #68
You can call the `path()` function and get the `Vector[]` back, which you can use to directly steer CDP (e.g. using `Input.dispatchMouseEvent()`.

[2022-09-17 14:45] #68 closed

[2022-09-17 15:40] CJ13th commented on #68
Thanks, this is what I'm planning on doing, but I really liked the idea of the overshoot-then-correct functionality which seems to come with puppeteers `cursor.move()`. Unless I'm mistaken, the `Vector[]` returned by `path` just doesn't include overshoot coordinates so I just wanted to check if there were plans to include this?

[2022-09-19 07:18] Niek commented on #68
True, the overshooting is not contained in `path()` but is rather trivial to implement, see the following code:
https://github.com/Xetera/ghost-cursor/blob/7327dfa3215e6f2a9391af650ff2221c2e4dfe80/src/spoof.ts#L354-L370

[2022-09-21 22:22] EVE231 opened #69 "what does waitForMouse option do and which file can i find its reference/where its defined? since when i search through this repository, it doesnt show where it is defined"
since when i search through this repository, none of the files show where it is defined. I don't want to miss out on options available that could help me.

[2022-09-22 14:57] Niek commented on #69
There is no `waitForMouse`, only `waitForClick` and `waitForSelector`.

[2022-09-22 14:57] #69 closed

[2022-09-23 01:17] EVE231 commented on #69
ok because it was referenced here https://github.com/Xetera/ghost-cursor/issues/17#issuecomment-755995616 which is why I was curious

[2022-09-23 01:35] EVE231 opened #70 "How to increase mouse speed for moveTo method?"
await cursor.moveTo(await ghostCursor.getRandomPagePoint(page));    This takes extremely long for the mouse to move to the point on page. How can i increase the speed or what are my other options to make the cursor move faster to a specific vector point because cursor.move() method only accepts selector arguments  and not the specific vector point

[2022-09-27 07:23] lublak opened #71 "add a real mouse cursor"
It would be nice if the library would also show a real mouse cursor.
![image](https://user-images.githubusercontent.com/44057030/192460485-68e1e94d-f818-47b4-b091-a72e21a18dec.png)
![image](https://user-images.githubusercontent.com/44057030/192460518-48297857-d4b8-40d7-8d1e-b03567d97f9a.png)
![image](https://user-images.githubusercontent.com/44057030/192460542-c75e3205-4b80-4afa-9164-88f74be991d1.

[2022-09-27 07:24] Niek commented on #71
This is possible by using the mouse helper, see https://github.com/Xetera/ghost-cursor/issues/13#issuecomment-780440923 for an example.

[2022-09-27 07:24] #71 closed

[2022-09-27 07:53] Niek commented on #71
Why would you ever need that? It's an automation library, you're not even supposed to look at the mouse except for debugging purposes. Any CSS-animated mouse that is injected is detectible in the DOM as well, so I would highly recommend not to use that in production.

[2022-09-27 07:58] lublak commented on #71
@Niek To create a reprdouble video with https://github.com/prasanaworld/puppeteer-screen-recorder. Sure with the dot it also works.
I often have the problem that I always have to record the same thing (only with different elements).
I use pupeeteer to record this. This all works great. With ghot curosr I wanted to animate the cursor better now. Sure with the dot you can see it. Doesn't look quite

[2022-09-29 11:40] lublak commented on #66
@Niek i have the same issue with 18.0.5 and ghost-cursor 1.1.15

[2022-09-29 11:47] lublak commented on #66
Full error:
[code]

[2022-09-29 12:27] Niek commented on #66
Anyone with a simple reproducible script so I can check? I still haven't encountered this issue in the wild.

[2022-09-29 12:36] lublak commented on #66
@Niek i created an example for you.
It depends on n8n:
[code]
[code]
https://github.com/n8n-io/n8n

[2022-09-29 14:43] lublak commented on #66
path returns an invalid vector array:

[code]
at this position: https://github.com/Xetera/ghost-cursor/blob/master/src/spoof.ts#L359

to is here: `{ x: 0, y: 0 } { x: NaN, y: NaN }`
destination is  `{ x: NaN, y: NaN }`
box is `{}`
options is `undefined`

[2022-09-29 14:46] lublak commented on #66
@Niek i think the issue is here: `box`
https://github.com/Xetera/ghost-cursor/blob/master/src/spoof.ts#L350

[2022-10-11 08:49] Niek commented on #66
I still can't replicate this, @lublak I had to change the selector to `li[class*="settingsSubmenu"]` but then it worked fine.

[2022-10-11 08:50] Niek commented on #67
Closing for now - if you get the `remoteObject` error, please open a new issue @firmart

[2022-10-11 08:50] #67 closed

[2022-10-17 18:06] devSamuelo opened #75 "cursor.click(selector) click in all elements? or in one"

[2022-10-17 18:21] #75 closed

[2022-10-28 01:35] thorn5918 opened #76 "Can post an example?"
[https://camo.githubusercontent.com/18b64308bb2cbf8fefba480ae90b0bb38add9bf6d7d3cb6c1886998e1160dfad/68747470733a2f2f63646e2e646973636f72646170702e636f6d2f6174746163686d656e74732f3431383639393338303833333634383634342f3636343131303638333035343533383737322f6163635f67656e2e676966](url)

@Xetera @Niek

Many thanks

[2022-10-28 01:36] thorn5918 commented on #76
![ghost-cursor in action](https://cdn.discordapp.com/attachments/418699380833648644/664110683054538772/acc_gen.gif)

[2022-10-31 17:08] Solo-it opened #77 "TypeError: elem.remoteObject is not a function"
const puppeteer = require('puppeteer');
const {path,createCursor} = require("ghost-cursor");
const url = process.argv[2];

async function run() {
    browser = await puppeteer.launch({
        args: ['--disable-gpu', '--no-first-run', '--no-sandbox', '--no-zygote'],
        "dumpio": true,
        "devtools": false,
        "ignoreHTTPSErrors": true,
    });

    const page = await browser.newPage

[2022-10-31 17:08] Solo-it commented on #77
https://stackoverflow.com/questions/73810881/ghost-cursor-error-elem-remoteobject-is-not-a-function-in-puppeteer

[2022-10-31 17:09] Niek commented on #77
What version of ghost-cursor are you using? Because this was fixed in one of the recent releases.

[2022-11-01 11:43] Niek commented on #76
Not an issue - closing

[2022-11-01 11:43] #76 closed

[2022-11-01 11:44] Niek commented on #77
Closing this issue - will re-open in case it's reproducible on the latest version.

[2022-11-01 11:44] #77 closed

[2022-11-16 20:25] crispycarrot commented on #77
Able to reproduce the original issue on v1.1.16 running `puppeteer-core`, headful, MacOS. Working as expected on Debian 10.

[2022-11-18 17:10] TrixTM opened #78 "closed issue"

[2022-11-27 15:13] galaczi commented on #36
It's probably a lot of work too, but if you make a [puppeteer-extra](https://github.com/berstend/puppeteer-extra) plugin, as far as I know the automation layer supports both Puppeteer and Playwright. Any chance of that?

[2022-11-28 12:28] Xetera commented on #36
I believe the puppeteer-extra team is already working on a plugin inspired by this library. You could probably use that instead